<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Genus Healthcare Solution | HR Panel</title>
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
<link href="css/styles.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">
<div id="layoutAuthentication">
  <div id="layoutAuthentication_content">
    <main>
      <div class="container">

<div class="d-flex h100vh align-items-center auth-main w-100">
            <div class="auth-box"> 
              <div class="card shadow-lg border-0 rounded-lg mt-3">
              <div class="card-header d-flex align-items-center justify-content-between" style="background: linear-gradient(to left, #00427e 0%, #ffffff 70%);"> <img src="images/logo.png" alt="">
                <h5 class="text-center font-weight-bold">HR Panel</h5>
              </div>
              <div class="card-body p-sm-5">
                <div class="frm-box">
                  <label><img src="images/log-d.png"></label>
                  <input type="text" placeholder="Username">
                  <div class="clear"></div>
                </div>
                <div class="frm-box">
                  <label> <img src="images/log-b.png"></label>
                  <input type="password" placeholder="Password">
                  <div class="clear"></div>
                </div>
                <!-- <div class="frm-box">
                  <div class="capcha"><img src="images/captcha.jpg"></div>
                  <input type="text" placeholder="Enter Capcha" class="capchafld">
                  <label style="float:right; border-right: 0; border-left: 1px solid #c6c6c6;"> <a href="#"><img src="images/refresh.png"></a></label>
                  <div class="clear"> </div>
                </div> -->
                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"> 
                  <!-- <a class="small" href="password.html">Forgot Password?</a> --> 
                  <a class="btn btn-primary" href="index.html">Login</a> </div>
              </div>
              </div>

 

            </div>
        </div>




        <!-- <div class="row justify-content-center">
          <div class="col-lg-6 pt-sm-5 mt-sm-5">
            <div class="card shadow-lg border-0 rounded-lg mt-3">
              <div class="card-header d-flex align-items-center justify-content-between" style="background: linear-gradient(to left, #00427e 0%, #ffffff 70%);"> <img src="images/logo.png" alt="">
                <h5 class="text-center font-weight-bold">HR Panel</h5>
              </div>
              <div class="card-body p-sm-5">
                <div class="frm-box">
                  <label><img src="images/log-d.png"></label>
                  <input type="text" placeholder="Username">
                  <div class="clear"></div>
                </div>
                <div class="frm-box">
                  <label> <img src="images/log-b.png"></label>
                  <input type="password" placeholder="Password">
                  <div class="clear"></div>
                </div>
                <div class="frm-box">
                  <div class="capcha"><img src="images/captcha.jpg"></div>
                  <input type="text" placeholder="Enter Capcha" class="capchafld">
                  <label style="float:right; border-right: 0; border-left: 1px solid #c6c6c6;"> <a href="#"><img src="images/refresh.png"></a></label>
                  <div class="clear"> </div>
                </div>
                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"> 
                    
                  <a class="btn btn-primary loginbtn px-5" href="index.html">Login</a> </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </main>
  </div>
  <!-- <div id="layoutAuthentication_footer">
    <footer class="py-4 mt-auto footer-c fotr">
      <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
          <div>Copyright &copy; <script>document.write(new Date().getFullYear())</script> Genus Healthcare Solution | HR Panel | All Rights Reserved</div>
          <div> <a href="https://www.akswebsoft.com/" title="AKS Websoft Consulting Pvt. Ltd." target="_blank"><img src="images/aks2.png" alt="AKS Websoft Consulting Pvt. Ltd." class="powerd"></a> </div>
        </div>
      </div>
    </footer>
  </div> -->
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script> 
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script> 
<script src="js/scripts.js"></script>
</body>
</html>
